<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack.music.service">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:multiprocess="true"
            android:authorities="com.jack.music.service"
            android:name="com.jack.music.service.database.MusicDataProvider"/>
        <service android:name="com.jack.aidl.MusicPlayService"
            android:exported="true"
            android:process="com.jack.music.service"/>
    </application>

</manifest>
